/**
 *
 * Apply Here your Custom CSS
 *
*/

#system-name{
    font-weight:100; margin:0px;
    color: #26A69A;
    margin-bottom:10px;
    font-family: 'Poppins'
}

.language-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-dropdown {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.language-dropdown:hover {
    border-color: #999;
}

.language-dropdown:focus {
    border-color: #26A69A;
    outline: none;
    box-shadow: 0 0 5px #26a69969
}

.language-dropdown option {
    color: #333;
}


.card-custom {
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #b3b6b8;
    padding: 1.5rem;
    transition: all 0.3s ease;
    background-color: white;
    margin-top:2rem
}

.card-header {
    display: flex;
    align-items: center;
    color: #6c757d; /* Bootstrap's text-secondary */
    font-size: 1.3rem;
    margin-bottom: 2rem;
    gap: 0.6rem;
    font-weight: 600;
}

.card-icon {
    font-size: 1.8rem;
    margin-right: 0.8rem;
    position: relative;
    top: 2px;
}

.card-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.card-count {
    font-weight: 600;
    font-size: 3rem;
    color: #000;
    line-height: 1;
}

.card-badge {
    background-color: #d1f3ed;
    color: #0f766e;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin-top: 3px;
    align-self: flex-start;
}

.card-footer {
    color: #0f766e;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1.2rem;
    padding-top: 0.8rem;
}
.card-header i {
    font-size: 1.8rem; 
    margin-right: 0.8rem; 
    color: black;
    position: relative;
    top: 0.5px;

}
.card-custom:hover {
    box-shadow: 0 10px 15px #c0fff3;
    border-color: #d1f3ed ; /* gray-400 */
  }

 .graph-canvas:hover{
    box-shadow: 0 10px 15px #c0fff3;
    border-color: #d1f3ed !important ; /* gray-400 */
    border-radius: 2rem; 
 }
  
  @media (max-width: 768px) {
  .row#res-dash {
  display:flex; flex-direction:column; gap:20px;
}ّ
.graph-canvas{
margin-right: 15px;
margin-top: 0px !important;
}
#header-top-flex > div{
display: none !important;
overflow: hidden !important;
}
#header-top-flex{
    justify-content: space-between;
}
#dashboard-graphs{
    margin: 0.5rem !important;
}
.card-custom{
    margin: 0px !important;
}
}
  
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f2f4f8 !important;
}

.panel-primary {
    border: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
}

.modal-header {
    border: none;
}

.btn {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
.btn-primary {
    color: #fff !important;
    background-color: #26A69A !important;
    border-color: #26A69A !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #26A69A !important;
    border-color: #26A69A !important;
}
.btn-primary.focus,
.btn-primary:focus {
    /*box-shadow: 0 0 0 3px rgba(88, 103, 221, .5) !important;*/
}
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #26A69A !important;
    border-color: #26A69A !important;
}

.btn-success {
    color: #fff !important;
    background-color: #66BB6A !important;
    border-color: #66BB6A !important;
}
.btn-success:hover {
    color: #fff !important;
    background-color: #66BB6A !important;
    border-color: #66BB6A !important;
}
.btn-success.focus,
.btn-success:focus {
    /*box-shadow: 0 0 0 3px rgba(88, 103, 221, .5) !important;*/
}
.btn-success.disabled,
.btn-success:disabled {
    background-color: #66BB6A !important;
    border-color: #66BB6A !important;
}

.btn-info {
    color: #fff !important;
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}
.btn-info:hover {
    color: #fff !important;
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}
.btn-info.focus,
.btn-info:focus {
    /*box-shadow: 0 0 0 3px rgba(88, 103, 221, .5) !important;*/
}
.btn-info.disabled,
.btn-info:disabled {
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #ef5350 !important;
    border-color: #ef5350 !important;
}
.btn-danger:hover {
    color: #fff !important;
    background-color: #ef5350 !important;
    border-color: #ef5350 !important;
}
.btn-danger.focus,
.btn-danger:focus {
    /*box-shadow: 0 0 0 3px rgba(88, 103, 221, .5) !important;*/
}
.btn-danger.disabled,
.btn-danger:disabled {
    background-color: #ef5350 !important;
    border-color: #ef5350 !important;
}

.btn-default {
    color: #fff !important;
    background-color: #757575 !important;
    border-color: #757575 !important;
}
.btn-default:hover {
    color: #fff !important;
    background-color: #757575 !important;
    border-color: #757575 !important;
}
.btn-default.focus,
.btn-default:focus {
    /*box-shadow: 0 0 0 3px rgba(88, 103, 221, .5) !important;*/
}
.btn-default.disabled,
.btn-default:disabled {
    background-color: #757575 !important;
    border-color: #757575 !important;
}

.btn:focus, .btn:active:focus {
    outline: none;
}

.page-container .sidebar-menu #main-menu li {
    border: 0;
}

.page-container .sidebar-menu #main-menu li a {
    display: block; 
    padding: 12px 18px; /* Increased padding for better touch targets */
    color: #404040; /* Dark gray text color for readability */
    margin: 5px; /* Space between list items */
    text-decoration: none;
    border-radius: 8px; /* Slightly rounded corners for modern look */
    transition: background-color 0.3s ease; /* Smooth background transition */
    font-family: 'poppins';
    font-weight: 600;

}

.page-container .sidebar-menu #main-menu li a:hover{
    background-color: #e0f7fa !important; /* Light cyan background */
    color: #00796b !important; /* Dark teal for active state */
    font-weight: 600; /* Normal font weight for a cleaner look */
}
.page-container .sidebar-menu #main-menu li.active > a {
    background-color: #00796b !important; /* Light cyan background */
    color: #e0f7fa !important; /* Dark teal for active state */
    font-weight: 700; /* Normal font weight for a cleaner look */
}

.page-container .sidebar-menu #main-menu li a:hover i {
    color: #00796b !important; /* Dark teal for icons on hover/active */

}
.page-container .sidebar-menu #main-menu li.active > a i {
    color: #e0f7fa !important; /* Dark teal for icons on hover/active */
}

.page-container .sidebar-menu #main-menu li.has-sub ul,
.page-container .sidebar-menu #main-menu li.has-sub ul a {
    background-color: #ffffff !important; /* White background for sub-menu */
}

.page-container .sidebar-menu #main-menu li.has-sub ul li.active a
{
    background-color: #00796b !important; /* Light cyan background */
    color: #e0f7fa !important; /* Dark teal for active state */
    font-weight: 700;
}
.page-container .sidebar-menu #main-menu li.has-sub ul a:hover {
    background-color: #e0f7fa !important; /* Light cyan background */
    color: #00796b !important; /* Dark teal for active state */
    font-weight: 600; /* Normal font weight for a cleaner look */}

.page-container .sidebar-menu #main-menu li.has-sub ul,
.page-container .sidebar-menu #main-menu li.has-sub ul li {
    border: 0;
}

.page-container .sidebar-menu #main-menu li a i {
    color: #757575; /* Slightly darker gray for icons */
    margin-right: 15px; /* Adequate space between icon and text */
}


body .page-container .sidebar-menu {
    background-color: #FFFFFF !important;
    border-right: 3px solid #80808033;

}
body .sui-normal #user-name-welcome,#welcome-text{
    color: #525672 ;
}
.page-container .sidebar-menu .sidebar-user-info{
    border-top-color: #323443;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
    border: 0;
}
.dataTables_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
}
.dataTables_wrapper table + .row{
    margin-bottom: 0;
}

.panel-primary > .panel-heading {
    border: 0;
}

.table-bordered {
    border: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.11);
}

.label-danger {
    background-color: #ef5350 !important;
}
.label-success {
    background-color: #66BB6A !important;
}
.form-control{
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0
}